@use "../helpers" as *;

.about {
  padding-bottom: fluid(40, 120);

  &__container {
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: fluid(20, 52);

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__column {
  }
}

.column-about {
  display: flex;
  flex-direction: column;

  @include medium {
    &:nth-child(1) {
      flex-direction: column-reverse;
      row-gap: rem(24);
    }
  }

  &__decoration {
    max-width: fluid(120, 370);
    display: block;
    padding-block: rem(20);

    @include medium {
      display: none;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include medium {
      max-width: rem(600);
      margin-inline: auto;
    }
  }

  &__info {
    margin-top: fluid(30, 64);
    border: rem(1) solid var(--color-primary);
    display: flex;
    flex-direction: column;
    max-width: rem(520);
    width: 100%;
    margin-inline: auto;

    @include medium {
      max-width: 100%;
    }
  }
  &__info-card {
    background-color: var(--color-white);
    padding: fluid(20, 23);
    flex-grow: 1;
    padding-bottom: fluid(40, 110);
  }

  &__info-title {
    font-size: fluid(20, 28);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-family-accent);
    margin-bottom: rem(16);
  }

  &__info-subtitle {
    font-size: rem(18);
    margin-bottom: fluid(20, 40);
    color: var(--color-primary);
    font-weight: 700;
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    row-gap: fluid(12, 20);
    li {
      font-size: fluid(24, 32);
      text-transform: uppercase;
      font-family: var(--font-family-accent);
      display: flex;
      align-items: center;
      column-gap: rem(11);

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%226.5%22%20stroke%3D%22%231e5dbc%22%20stroke-width%3D%222%22%2F%3E%3Ccircle%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%223.5%22%20fill%3D%22%231e5dbc%22%2F%3E%3C%2Fsvg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: rem(15);
        height: rem(15);
        flex-shrink: 0;
      }
    }
  }

  &__info-phone {
    background-color: var(--color-primary);
    padding: rem(20);
    font-family: var(--font-family-accent);
    font-size: fluid(24, 33);
    color: var(--color-white);
    text-align: center;
    width: 100%;
    display: block;
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 40);
    margin-bottom: fluid(30, 64);
    p {
      font-size: fluid(18, 30);
      font-weight: 700;
    }
  }
}
