@use "../helpers" as *;

.location {
  padding-bottom: fluid(30, 50);

  &__title {
    font-size: fluid(24, 36);
    color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-block: fluid(20, 36);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
    @include medium {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    flex: 0 1 rem(592);
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 30);

    @include medium {
      flex: 0 1 auto;
    }
    p {
      font-size: fluid(18, 30);
      font-weight: 700;
    }
  }

  &__image {
    flex: 0 1 rem(613);
    position: relative;

    @include medium {
      flex: 0 1 auto;
    }
  }

  &__image-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
   @include medium {
    max-width: rem(400);
    margin-inline: auto;
   }
  }

  &__image-line {
    position: absolute;
    top: 17%;
    left: -37%;
    z-index: 10;

    @include medium {
      display: none;
    }
  }
}
