<footer data-aos="fade-up" class="footer" style="background-image: url('/images/footer.png');">
  <div class="footer__container container">
    <div class="footer__content">
      <h2 class="footer__title">Ваш надійний партнер на дорозі!</h2>
      <div class="footer__contacts">
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">
            <img src="/images/i1.svg" alt="" class="footer__contacts-icon" />
            <div class="footer__contacts-item-content">
              <h3 class="footer__contacts-item-title">Локація</h3>
              <p class="footer__contacts-item-text">Полтавська область. м.Лубни</p>
            </div>
          </li>
          <li class="footer__contacts-item">
            <img src="/images/i2.svg" alt="" class="footer__contacts-icon" />
            <div class="footer__contacts-item-content">
              <h3 class="footer__contacts-item-title">Email</h3>
              <p class="footer__contacts-item-text">galushka.87@ukr.net</p>
            </div>
          </li>
          <li class="footer__contacts-item">
            <img src="/images/i3.svg" alt="" class="footer__contacts-icon" />
            <div class="footer__contacts-item-content">
              <h3 class="footer__contacts-item-title">Телефон</h3>
              <p class="footer__contacts-item-text">
                <a href="tel:+380506525388">+380506525388</a>
                <a href="tel:+380506525388">+380506525388</a>
                <a href="tel:+380506525388">+380506525388</a>
              </p>
            </div>
          </li>
          <li class="footer__contacts-item">
            <img src="/images/i4.svg" alt="" class="footer__contacts-icon" />
            <div class="footer__contacts-item-content">
              <h3 class="footer__contacts-item-title">Tik-tok</h3>
              <p class="footer__contacts-item-text">@galushka_23</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__tiktok">
      <a href="@galushka_23" class="footer__tiktok-link">
        <h2 class="footer__tiktok-title">Наш Tik-Tok</h2>
        <img src="/images/tiktok.png" alt="Tik-Tok" class="footer__tiktok-icon" />
      </a>
    </div>
  </div>
</footer>
